.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}


html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ensures body fills full height */
}

main {
    flex: 1; /* pushes footer to bottom */
}

footer {
    height: 50px;
    background-color: #0d6efd; /* same as bg-primary */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 20px 0; /* adjust as needed */
}
